@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F7F8FA;
  color: #8B94A7;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #D1D5DE;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
